{% extends 'layout.html' %}

{% block title %}Lista de Comisiones{% endblock %}

{% block content %}
<h2>Lista de Comisiones</h2>
<a href="{% url 'crear_comision' %}" class="btn btn-primary mb-3">Crear Comisión</a>
<table class="table">
    <thead>
        <tr>
            <th>Vendedor</th>
            <th>Porcentaje de Comisión</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for comision in comisiones %}
        <tr>
            <td>{{ comision.vendedor.username }}</td>
            <td>{{ comision.porcentaje_comision }}%</td>
            <td>{{ comision.fecha_inicio }}</td>
            <td>{{ comision.fecha_fin|default:"-" }}</td>
            <td>
                <a href="{% url 'editar_comision' comision.id %}" class="btn btn-sm btn-warning">Editar</a>
                <a href="{% url 'eliminar_comision' comision.id %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}