{% extends 'layout.html' %}

{% block title %}Lista de Facturas{% endblock %}

{% block content %}
<h2>Lista de Facturas</h2>
<a href="{% url 'crear_factura' %}" class="btn btn-primary mb-3">Crear Factura</a>
<table class="table">
    <thead>
        <tr>
            <th>Número</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for factura in facturas %}
        <tr>
            <td>{{ factura.consecutivo }}</td>
            <td>{{ factura.cliente.nombre }}</td>
            <td>{{ factura.fecha }}</td>
            <td>{{ factura.total }}</td>
            <td>
                <a href="{% url 'agregar_detalle_factura' factura.id %}" class="btn btn-sm btn-info">Detalles</a>
                <a href="{% url 'eliminar_factura' factura.id %}" class="btn btn-sm btn-danger">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}