{% extends "base.html" %}
{% block title %} {% if employee %} Editar Empleado {% else %} Nuevo Empleado {% endif %} {% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{% if employee %} Editar Empleado {% else %} Nuevo Empleado {% endif %}</h2>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Guardar</button>
        <a href="{% url 'users:employees_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
