<!-- Navbar en formato horizontal -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">
            <div class="d-flex align-items-center">
                <i class="fas fa-boxes fa-lg text-primary me-2"></i>
                <div>GESINV3</div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-shopping-cart fa-lg text-primary me-2"></i>
                                <div>Ventas</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-truck fa-lg text-success me-2"></i>
                                <div>Compras</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownArticulos" role="button" data-bs-toggle="dropdown">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-box fa-lg text-danger me-2"></i>
                                <div>Artículos</div>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'categories:categories_list' %}">Categorías</a></li>
                            <li><a class="dropdown-item" href="{% url 'brands:brands_list' %}">Marcas</a></li>
                            <li><a class="dropdown-item" href="{% url 'products:products_list' %}">Productos</a></li>
                            <li><a class="dropdown-item" href="#">Catálogos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownInventarios" role="button" data-bs-toggle="dropdown">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-warehouse fa-lg text-primary me-2"></i>
                                <div>Inventarios</div>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'inventory:ubicacion_list' %}">Ubicaciones</a></li>
                            <li><a class="dropdown-item" href="{% url 'inventory:inventarioinicial_list' %}">Inventarios Iniciales</a></li>
                            <li><a class="dropdown-item" href="{% url 'inventory:movimientoubicacion_list' %}">Movimientos de Ubicación</a></li>
                            <li><a class="dropdown-item" href="{% url 'inventory:bajaarticulo_list' %}">Bajas de Artículos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_tools:export_data' %}">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-file-export fa-lg text-warning me-2"></i>
                                <div>Exportar</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin_tools:import_data' %}">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-file-import fa-lg text-danger me-2"></i>
                                <div>Importar</div>
                            </div>
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <div class="d-flex align-items-center">
                                <i class="fas fa-user fa-lg text-primary me-2"></i>
                                <div>{{ user.username }}</div>
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'login:profile' %}"><i class="fas fa-user-circle"></i> Perfil</a></li>
                            <li><a class="dropdown-item" href="{% url 'loginlogout' %}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'login:login' %}"><div class="d-flex align-items-center"><i class="fas fa-sign-in-alt fa-lg text-primary me-2"></i><div>Iniciar sesión</div></div></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>