<!-- catalogos/templates/catalogos/catalogo.html -->
{% extends 'base.html' %}

{% block content %}
<h1>Catálogo de Productos</h1>
<div class="row">
    {% for articulo in articulos %}
    <div class="col-md-4">
        <div class="card">
            <img src="{{ articulo.foto.url }}" class="card-img-top" alt="{{ articulo.nombre }}">
            <div class="card-body">
                <h5 class="card-title">{{ articulo.nombre }}</h5>
                <p class="card-text">{{ articulo.descripcion }}</p>
                <p class="card-text">Precio: ${{ articulo.precio_venta1 }}</p>
                <a href="#" class="btn btn-primary">Agregar al Carrito</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}