{% extends 'layout.html' %}{% block content %}
<div class="container mt-4">
    <h1>Lista de Catálogos</h1>
    <a href="{% url 'catalogs:catalog_create' %}" class="btn btn-success mb-3">Crear Nuevo Catálogo</a>
    <div class="row">
        {% for catalog in catalogs %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <img src="{{ catalog.image.url }}" class="card-img-top" alt="Imagen del Catálogo">
                    <div class="card-body">
                        <h5 class="card-title">{{ catalog.title }}</h5>
                        <p class="card-text">Marca: {{ catalog.brand.name }}</p>
                        <a href="{% url 'catalogs:catalog_edit' catalog.idCatalog %}" class="btn btn-primary">Editar</a>
                        <a href="{% url 'catalogs:catalog_delete' catalog.idCatalog %}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}