{% extends 'layout.html' %}{% block content %}
<div class="container mt-4">
    <h1>Ofertas</h1>
    <a href="{% url 'catalogs:offer_create' %}" class="btn btn-success mb-3">Crear Nueva Oferta</a>
    <div class="row">
        {% for offer in offers %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ offer.name }}</h5>
                        <p class="card-text">Descuento: {{ offer.discount }}%</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
