{% extends 'layout.html' %}{% block content %}
<div class="container mt-4">
    <h1>Crear Orden</h1>
    <form method="post">
        {% csrf_token %}
        {{ order_form.as_p }}
        {{ order_detail_formset.management_form }}
        {% for form in order_detail_formset %}
            {{ form.as_p }}
        {% endfor %}
        <button type="submit">Guardar</button>
    </form>
    <a href="{% url 'catalogs:orders_list' %}" class="btn btn-secondary mt-3">Volver a la lista de órdenes</a>
</div>
{% endblock %}
