{% extends 'layout.html' %}
{% block breadcrumb %}
    {% for item in breadcrumb %}
        <li class="breadcrumb-item"><a href="{{ item.url }}">{{ item.name }}</a></li>
    {% endfor %}
{% endblock %}
 
{% block content %}
<div class="container mt-4">
    <h2 class="text-danger">Eliminar Categoría</h2>
    <p>¿Estás seguro de que deseas eliminar la categoría "<strong>{{ object.category }}</strong>"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'categories:categories_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}

 